html {
    background-image: url("../images/wallz_2.jpg");
    font-family: 'Comfortaa', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    background-color: azure;
    padding: 10px;
    color: cadetblue;
    border-radius: 16px;
}

a {
    text-decoration: none;
    color: coral;
    padding: 5px;
}

.content {
    max-width: 500px;
    background-color: darkseagreen;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}